<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/static/css/style.css">
    <title>Protectivio</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
    <div id="leftContent">
    <nav>
        <a href="/" class="F">Protectivio</a>
    </nav>
        {% if current_user.is_authenticated %}
        <br>
            <a class="playButton" href="/game">Играть</a>
        </br>
        {% else %}
        <br>
            <a class="non-playButton"> Войдите в систему, чтобы играть</a>
        </br>
        {% endif %}
        <br>
        </br>
    <table>
        <tr><th>Никнейм</th><th>Кол-во побед</th></tr>
        {% for i in users %}
            {% if i[0] == 1%}
                <tr><td>Наш самый лучший игрок: {{ i[1] }}</td><td>{{ i[-1] }}</td></tr>
            {% elif current_user.is_authenticated and current_user.id == i[0] %}
                <tr><td>--> Вы <--</td><td>{{ i[-1] }}</td></tr>
            {% else %}
                <tr><td>{{ i[1] }}</td><td>{{ i[-1] }}</td></tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>
</header>
<div class="rightContent">
    <div id="RegisterLogin">
    {% if current_user.is_authenticated %}
    <a href="/logout" id="nick">{{ current_user.name }}</a>
        {% if current_user.is_admin %}
        <a href="news" class="btn-secondary">Добавить новость</a>
    {% endif %}

    {% else %}
        <a class="btn-primary" href="/register">Зарегистрироваться</a>
        <a class="btn-success" href="/login">Войти</a>
    {% endif %}
    </div>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</div>
</body>
</html>