<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/static/css/style.css">
    <title>Protectivio</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <title>Error {{ number }}</title>
</head>
<body class="body">
    {% if number == 404 %}
        <img class="errorimg" src="/static/img/death.jpg"/>
    {% elif number == 403 %}
        <img class="errorimg" src="/static/img/403.png"/>
    {% else %}
        <img class="errorimg" src="/static/img/500.jpg"/>
    {% endif %}
</body>
</html>