<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
    <div id="loadingConfirmationScreen">
        <div class="gui">
            <p>Подтвердите начало боя</p>
            <p><a href="#" onclick="event.preventDefault()" class="acceptButton">Подтвердить</a></p>
        </div>
    </div>

    <div id="game">
        <div id="field"></div>
        <div id="timer">
            00:00
        </div>
        
    </div>

    <div id="phase1">
        <div class="bottom">
            <div class="towerMenu">
                <div class="menuItem"><img src="{{ url_for('static', filename='svg/core.svg') }}" alt="" ondragstart="return false"></div>
                <div class="menuItem"><img src="{{ url_for('static', filename='svg/wall.svg') }}" alt="" ondragstart="return false"></div>
                <div class="menuItem"><img src="{{ url_for('static', filename='svg/mortar.svg') }}" alt="" ondragstart="return false"></div>
            </div>
        </div>
        <div id="phase1wallTooltip" class="tooltip">
            <div>
                <b>Ядро</b> <br/>
                Генерирует энергию для базы. Если все ядра уничтожены, то база обесточивается и автоматически проигрывает.
            </div>
        </div>
        <div id="phase1coreTooltip" class="tooltip">
            <div>
                <b>Стена</b> <br/>
                Защищает базу от снарядов.
            </div>
        </div>
        <div id="phase1mortarTooltip" class="tooltip">
            <div>
                <b>Мортира</b> <br/>
                Стреляет на неограниченное расстояние.
            </div>
        </div>
    </div>

    <div id="dataExchange">
        Идёт обмен данными с сервером...
    </div>

    <div id="phase2">
        <div class="bottom">
            <div class="towerMenu">
                <div class="menuItem"><img src="{{ url_for('static', filename='svg/cannon.svg') }}" alt="" ondragstart="return false"></div>
                <div class="menuItem"><img src="{{ url_for('static', filename='svg/crossbow.svg') }}" alt="" ondragstart="return false"></div>
            </div>
        </div>

        <div id="phase2cannonTooltip" class="tooltip">
            <b>Пушка</b> <br/>
            Базовая пушка. Стреляет в ближайшую цель на расстоянии 5 клеток.
        </div>

        <div id="phase2crossbowTooltip" class="tooltip">
            <b>Арбалет</b> <br/>
            Стреляет в одном направлении на неограниченное расстояние.
        </div>
    </div>

    <div id="phase3">
        <div class="towerMenu"></div>
    </div>

    <div id="messageOnScreen"></div>

    <div id="whiteBackground"></div>

    <div id="gameOverScreen">
        <div id="gameStats">
            <!--Filled using JavaScript-->
        </div>

        <div class="gui">
            <a href="" class="acceptButton">Новая игра</a>
        </div>
        
    </div>
    <canvas></canvas>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/graphic.js') }}"></script>
</body>
</html>